.myInputs section {
    /* background-image: url('../assests/Control\ Panel.png'); */
    background-color: #393939;
    width: 27vw;
    height: 80vh;
}

.myInputs {
    margin-left: 5rem !important;
}

.date_picker_icons svg {
    width: 20px;
    right: 5px;
    top: 26px;
    cursor: pointer;
}

.react-date-picker__inputGroup__input {
    color: #fff;
}

.react-date-picker__button svg {
    color: #fff;
}

.react-date-picker.react-date-picker--closed.react-date-picker--enabled.text-white {
    width: 100%;
}

.react-date-picker {
    width: 100%;
}

.react-date-picker__wrapper {
    background-color: gray;
}

img.objectFill {
    height: 41px;
    object-fit: fill;
}

img.select_Tabs {
    height: 403px;
}